# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\5GNN-20201001\开源\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
